# ==============================
# Repositories to monitor
# Format: owner/repository
# Multiple repos separated by comma
# Example: owner/repo1,owner/repo2
# ==============================
REPOS=wppconnect-team/wa-js,openai/openai-python


# ==============================
# Scheduler configuration
# ==============================

# Interval between checks (minutes)
INTERVAL_MINUTES=1

# Ignore pre-releases
# true  = notify only stable releases
# false = notify all releases
IGNORE_PRERELEASE=true


# ==============================
# Notification configuration
# ==============================

# Google Chat webhook URL
GOOGLE_CHAT_WEBHOOK=https://chat.googleapis.com/v1/spaces/XXXX/messages?key=XXXX&token=XXXX


# ==============================
# Application settings
# ==============================

# File used to store last processed releases
STATE_FILE=/app/data/state.json

# Timezone used to display release time
# Example: UTC, America/New_York, America/Sao_Paulo
TIMEZONE=America/Sao_Paulo